* {
    box-sizing: border-box;
}

body {
    margin:0px;
}

header {
    width:100%;
    background: red;
    padding: 10px;
    margin-top: 0px;
}

header > div {
    display: inline-block;
    vertical-align: middle;
}

.logo a {
    color: white;  
    text-decoration: none;
    font-family: 'Righteous', cursive;
    font-size:30px; 
}

.main-nav {
    display: inline-block;
    width: calc(100% - 137px);
}

.main-nav-list {
  text-align: right;
  width: 100%;
  vertical-align: middle;
}

.main-nav-item {
   display: inline-block;
}

.main-nav-item a {
    color:white;
    text-decoration: none;
 }

 .main-nav-item a::after {
     content: " | ";
 }
.main-nav-item.calltoaction{
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
}
.main-nav-item.calltoaction a::after {
    content:none
}
.main-nav-item a:hover {
    color:blue;
}

#hero img {
    width: 100%;

}

h1 {
    font-family: sans-serif;
    font-family:'Righteous', cursive;
    margin:0px;
}

.my-section {
    margin: 10px;
    border: 3px solid black;
    padding: 20px;
}

#second-section {
    border: 3px dashed black
}

