@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin:0px;
    font-family: 'Montserrat', sans-serif;
}

.white {
    background-color: white;
    color: black
}

.grey {
    background-color:#EAEAE5;
}
 h1 {
     font-size: 30px;;
 }
   
nav {
    width:100%;
    top:10px; 
    text-align: center;
}

.menu-items li {
    display: inline-block;
    list-style: none;
    padding: 20px;
 }

a.logo, .menu-items li a  {
    color: black;
    text-decoration: none;
 }

a.logo {
     font-size: 40px; ;
 }

.logo span {
     color: #00d2b5
 }

.menu-items li a:hover {
      color: #00d2b5;
 }

.landing-page, .div-prototypes, .features-container  {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center; 
  }

.call-to-action {
      padding-left: 180px;
  }

button, input#invia {
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 15px;
    color: white;
    background-color:#00d2b5;
    padding: 15px 25px; 
    border-radius: 25px;
    border: none;
}

.landing-img img {
      
      max-width: 100%;
  }

.container {
      padding-top: 70px;
      padding-bottom: 100px;
      padding-left: 180px;
      padding-right: 180px;
  }

.container h1 {
      text-align: center;
      padding-bottom:40px;
      margin:0;
  }

#features {
    padding-top: 10px;
    padding-bottom: 0;
}

.material-icons {
      color: white;
      background-color: #00d2b5;
      padding: 5px;
      border-radius: 50%;
  }

.features-item {
      width: 30%;
      margin: 10px;
      padding: 30px;
      border-radius: 5px ;
  }

.features-item a {
    color: #00d2b5;
    text-decoration: none;
  }


.prototypes-img img {
      width:500px;
      height: auto;
  }
 #about-us .prototypes-container {
     padding-left: 100px;
     text-align: left;
 }
#contact-form{
    max-width: 100%;
    margin: 0 100px;
    padding: 30px;
    }
input#fname, input#lname{
    width: 46%;
}
 
input#email, input#subject, textarea {
    width:95%;
}
 input, textarea, #contact-form h4{
     margin: 10px;
 }