@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin:0px;
    font-family: 'Raleway', sans-serif;

}

.black{  
    background-color: black;
    color: white;
}

.red {
    background-color: darkred;
    color: white          
}


nav {
    width:100%;
    position: fixed;
    top:0px; 
}

.burger-menu {
    display: none;
}

nav .menu {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   align-items: center;
   justify-content: center;
   
}

nav .menu .menu-items {
    padding: 0;
}
nav .menu .logo {
    padding-left: 20px;
    padding-right: 20px;
}
.menu .logo img {
    width:170px;
    position: relative;
    top:-5px;
}

.menu-items li {
    display: inline-block;
    list-style: none;
    padding:20px;
}
.menu-items li a, .mobile-menu li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
 }

 .menu-items li a:hover {
     color: darkred;
 }

.mobile-menu {
    display: none ;
    width: 100%;
    height:50vh;
    position: sticky;
    top: 48px;
    
}
.mobile-menu li {
    list-style: none;
    padding:20px;
}
.header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 111px; /*20px + 91 px altezza menu+*/
}

.breadcrumb-content {
    max-width: 960px;
    margin: 0 auto;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom:50px;
}
.content-full-width {
    width: 100%;
    text-align: center;
}
.blocco-news{
    display: inline-block;
    width: 70%;

}

.news .copertina {
    width: 100%;
   
    

}
.news .copertina:hover {
    width: 50%;

}
.altri-post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}

 .altri-post .item-1 {
    background-color:red;
    height: 300px;
    width:200px;
   
}
.altri-post .item-2 {
    background-color:blue;
    height:230px;
    width:150px;
  
}
.altri-post .item-3 {
    background-color:green;
    width:100px;
    align-self: flex-end;
}
aside {
    padding-left: 10px;
    display: inline-block;
    width: 29%;
    vertical-align: top;
}
.footer {
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
    
}
.footer p{
    max-width: 960px;
    margin: 0 auto;
}

.black.footer span {
    font-size: large;
}
.input-container{
    display: flex;
}

.blocco-ricerca .fa{
    color:#747474;
    padding: 15px;
    background-color: lightgrey;
}

#ricerca-news {
    background-color: lightgrey;
    padding: 15px;
    border:none;
    width:100%;
}
#ricerca-news:focus{
    outline: none;
}
#submit-news{
    display: none;
}
.blocco-articoli ul {
    padding-left:0px;
}
.blocco-articoli li {
    list-style: none;
    padding: 5px;

}

.blocco-articoli a{
    color: gray;
    text-decoration: none;

}

.tag {
    background-color: gray;
    padding: 10px;
    margin:5px;
    display: inline-block;  
    transition: background-color 2000ms;

}

.tag a {
    text-decoration: none;
    color: white;
    
}
.tag:hover {
    background-color:darkred;
    
}
#blocco-contatti {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}
 
.contatti {
    background-color: lightslategrey;
}

#blocco-nero {
    padding:50px;
    line-height:2; 
}
#blocco-form {
    padding-top:50px
}


.riferimenti {
    display: inline-block;
    width: 30%;
}

span.intestazione  {
    text-transform: uppercase;
    font-weight: bold;
}
.blocco_welcome{
    padding: 30px 20%;
}

.blocco_video{
    background-color: black;
}

.servizio{
    display:inline-block;
    width: 25%;
    padding: 10px;

}
.servizio .fa {
    font-size: 30px;
}
.container-servizi {
    margin-top:40px
}
